* {
    margin: 0%;
    padding: 0%;

}
/* ______Top navbar____________ */

.showcase .navbar-top{
    width: 100%;
    display: flex;
    padding: 0 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #0A2940;
    top: 0;
    left: 0;
}
.showcase .left{
    display: flex;
    list-style: none;
}
.showcase .left li a{
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: #95A2BB;
    padding: 5px 15px;
    transition: all 0.5s ease;
}
.showcase .left li a:hover{
    color: #55BA53;
}
.showcase .left li:first-child{
    font-weight: 700;
    border-right: 1px solid #536DAF;
}


/* _______Bottom Navbar_________ */
.showcase .navbar-bottom{
    width: 100%;
    background: #cfcfcf;
    padding: 25px;
    align-items: center;
    margin:  auto;
    display: flex;
    position: fixed; 
    justify-content: space-between;
    overflow: hidden;
}
.navbar-bottom.sticky{
    padding: 15px 95px;
    background: #fff;
    border-bottom: 1px solid #0A2940;
    color: #0A2940;
    top: 0;
    z-index: 999;
}
.showcase .navbar-bottom .brand-left{
    color: #55BA53;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    
}
.showcase .navbar-bottom.sticky .brand-left{
    color: #0A2940;
}
.showcase .navbar-bottom .brand-left:hover{
    color: #0A2940;
}
.showcase .navbar-bottom .menu-right{
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}


.showcase .navbar-bottom .menu-right a{
    text-decoration: none;
    display: inline-block;
    padding:  0 20px;
    color: #1A1B1E;
    
}
.showcase .navbar-bottom .menu-right a:hover{
    color: #55BA53;
}

/* ______home____________ */
#Home {
    padding: 290px;
    font-size: 30px;
    background-color: #0d1321;
    height: 500px;
    
}

#Home h1 {
    color: #28b67e;
}

#Home p {
    color: #ece9e9;
}

/* transactions__________________________________________________ */

.transaction-form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #132d46;
    color: #a3b5c0;
}

.transaction-form h2 {
    margin-top: 0;
}

.transaction-form label {
    display: block;
    margin-bottom: 5px;
}

.transaction-form input[type="number"],
.transaction-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction-form button {
    padding: 10px;
    background-color: #a3b5c0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: darkred;
}

.transaction {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.transaction p {
    margin: 0;
}

.transaction.expenses {
    background-color: #FFCCCC;
}

.transaction.income {
    background-color: #CCFFCC;
}

/* _____________button_________________________ */


button {
 
  background-color: #287094;
  color: white;
  padding: 14px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
 
 
}

button:hover {
    background-color: #04AA6D;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  
}


.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}


.container {
  padding: 16px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* _____________about us_________________________ */

img {
    width: 20px;
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .dots {
    text-align: center;
    padding: 10px;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: black;
  }
  .highlight-carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
  }
  
  .highlight-slide {
    display: none;
  }
  
  .highlight-slide img {
    width: 100%;
  }
  
  .carousel-prev, .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  .carousel-prev {
    left: 0;
  }
  
  .carousel-next {
    right: 0;
  }
  